
.main{
    selection{
        .p{
            text-align: center;
        }
        .button{
            color: aqua;
            &:hover{
                color: black;
            }
        }

    }
}